<!doctype html>
<html data-theme="emerald">
  <head>
    <title>JSBA</title>

    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
