{% extends "base.html" %}
{% block content %}
<!doctype html>
<html data-theme="night">
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>

<link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.2/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>


  </head>
  <body>
    {% for post in posts %}
      <div>
        {{ post.title }}
        {{ post.content }}
      </div>
      <hr>
    {% endfor %}
    <hr>
    <button hx-post="/api/posts"
    hx-trigger="click"
    hx-target="#test"
    hx-swap="outerHTML"
>
    Click Me!
</button>
<div id="test">
  test
</div>
  </body>
</html>
{% endblock %}
